 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecommerce website</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>

    

    <div class="container">
      <%- body -%>
    </div> 
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>